#body{
    background-color: black;
    height: 100% auto;
    width: 100% auto; 
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: "a1 a2 a3"
                         "a1 a4 a3"
                         "a1 a5 a3";
    justify-content: center;
    align-content: center; 
}

#video{
    grid-area: a4;
    justify-self: center;
    align-self: center;

}
@media only screen and (max-width: 600px){
    #body{
        height: 600px;
    }
    #video{
        height: 90%; 
      } 

}

@media only screen and (min-width: 601px) and (max-width: 730px){
    #body{
        height: 730px;
    }
    #video{
      height: 100%; 
    } 
}

@media (min-width: 730px) and (max-width: 1024px){
    #body{
        height: 100% auto;
    }
    #video{
        height: 100%; 
      } 

}